.site-header{
  background:#93b0ab;
  color: white;
  height: 100vh;
  font-family: monospace;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items:center;

}
.profile-pic{
  border-radius:60px;
  width:100px;
  height: 100px;
  align-items: center;
  box-shadow: black 4px 4px 4px;
}
.site-header-content{
  margin: 10px;
}
body{
  margin: 0;
}
